<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315915655813-ag4h8iap4hpele5lv2cii2ffjcch12nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315915655813-ag4h8iap4hpele5lv2cii2ffjcch12nc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>315915655813-1v08sa94cneg4e50kg38qu052pu9qqdv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn2zxCD0Fo2s6fQRwfQ04QzWBNN5HAxmI</string>
	<key>GCM_SENDER_ID</key>
	<string>315915655813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Dojo</string>
	<key>PROJECT_ID</key>
	<string>dojo-cc7f6</string>
	<key>STORAGE_BUCKET</key>
	<string>dojo-cc7f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315915655813:ios:c7b72e953732bd8293a7ec</string>
</dict>
</plist>